# Build & distribution
.build/
dist/
out/
release/

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Temporaire
*.o
*.d
*.swp
*.orig
/tmp/

# Node / Electron
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vite/
