# Build & distribution
dist/
out/
release/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Temp
*.swp
*.orig
/tmp/

# Node / Electron
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vite/

# Editor settings
.vscode/
